
:root{
    --azulclaro: #8ECAE6;
    --AZULESCURO: #023047;
    --AZULMEDIO: #219EBC;
    --AMARELO: #FFB703;
    --LARANJA: #FB8500;
    --ERRORBG: #lightpink;
    --text: #ffffff;
    --dark: #09090990;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family:  "Playfair Display", serif;
}
.error-div{

    display:none;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: antiquewhite;
    gap: 20px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    font-size: 14px;
    font-weight: lighter;
    box-shadow: 0px 3px 20px #09090990;
}

body{
    background-color: var(--AZULESCURO);
    color:var(--text);
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    background-color: var(--AZULMEDIO);
    width: 300px;
    height: 300px;
    border: 2px solid var(--LARANJA);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 10px;
    box-shadow: 0px 5px 15px var(--dark);
    border-radius: 10px;
}

.Logo{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: 2px solid var(--LARANJA);
    box-shadow: 0px 5px 15px var(--dark);
    border-radius: var(--dark);
}

.round{
    position: absolute;
    top: -1px;
    

}